{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    {% for news in object_list %}
        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ news.short_description }}</h6>
                    <a href="{% url 'news:detail' pk=news.pk %}" class="card-link">Card link</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
